<aside id="msg-overlay" class="msg-overlay-container">
  <div tabindex="-1" ng-class="class">
    <header
      class="msg-overlay-bubble-header"
      data-control-name="overlay.minimize_connection_list_bar"
    >
      <section
        class="msg-overlay-bubble-header__details flex-row align-items-center"
        style="width: 100%"
      >
        <div
          class="presence-entity presence-entity--size-1"
          ng-click="changeClass()"
        >
          <img
            title="Prajwal Urs"
            src="assets/images/pic1.png"
            alt="Prajwal"
            class="presence-entity__image EntityPhoto-circle-1 lazy-image ghost-person"
          />
          <div
            class="presence-entity__indicator presence-entity__indicator--size-1 presence-indicator presence-indicator--is-online presence-indicator--size-1"
          ></div>
        </div>
        <button
          ng-click="changeClass()"
          class="msg-overlay-bubble-header__button truncate ml2"
          style="width: 100%; text-align: left"
        >
          <h4 class="truncate t-14 t-bold t-black">
            <span aria-hidden="true">Messaging</span>
          </h4>
        </button>
      </section>
      <section class="msg-overlay-bubble-header__controls display-flex">
        <!-- <button
          class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--new-convo-btn artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--1 artdeco-button--tertiary ember-view"
        >
          <img src="lib/images/edit.png" alt="edit" />
        </button> -->
        <div
          class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view btn-group dropdown"
        >
          <button
            ng-click="mybutton1()"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="artdeco-button artdeco-button--1 artdeco-button--circle artdeco-button--tertiary artdeco-button--muted artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view"
          >
            <img src="assets/images/more.png" alt="more" />
          </button>
          <ul
            id="users"
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton1"
          ></ul>
        </div>
        <button
          ng-click="changeClass()"
          class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--new-convo-btn artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--1 artdeco-button--tertiary ember-view"
        >
          <img
            src="assets/images/arrow-down-sign-to-navigate.png"
            alt=""
            ng-show="arrowDown"
          />
          <img
            src="assets/images/up-arrow.png"
            alt=""
            ng-class="{'hidden': arrowDown === true}"
          />
        </button>
      </section>
    </header>
    <section
      class="scrollable msg-overlay-list-bubble__content msg-overlay-list-bubble__content--scrollable"
    >
      <div class="msg-overlay-list-bubble-default-conversation-container">
        <div
          class="msg-conversations-container__conversations-list msg-overlay-list-bubble__conversations-list"
        >
          <h2 id="room-name"></h2>

          <div
            class="msg-conversation-listitem__link msg-overlay-list-bubble__convo-item"
          >
            <div class="chat-messages"></div>
          </div>
        </div>
      </div>
    </section>

    <section style="width: 100%">
      <textarea
        class="txtarea"
        ng-model="obj.msg"
        style="
          resize: none;
          border-top: 1px solid #000;
          padding: 1rem 2rem;
          width: 100%;
          height: 100px;
        "
        placeholder="Write a message..."
      ></textarea>

      <div>
        <button ng-click="chatForm()" style="padding: 1.5rem; width: 100%">
          Send
        </button>
      </div>
    </section>
  </div>
</aside>

<link rel="stylesheet" href="./style.css" />
<script src="js/main.js"></script>
