.text {
  color: black !important;
}

.chat-messages {
  padding: 30px;
  max-height: 1000px !important;
  overflow-y: auto;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.hidden {
  display: none;
}

.decor {
  text-align: center;
  padding: 0.7rem;
  display: inline-block;
}
.online {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.offline {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.users {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto !important;
  width: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  font-size: 17.5px;
  text-align: center;
}
.paraG {
  margin: 0 !important;
  padding-left: 1rem !important;
  padding-bottom: 0.5rem;
}
