.text {
  color: black !important;
}

.chat-messages {
  padding: 30px;
  max-height: 1000px !important;
  overflow-y: auto;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.hidden {
  display: none;
}

.decor {
  text-align: center;
  padding: 0.7rem;
}
